doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' type='text/css' href='css/main.css')
        title To-Do
        link(rel='icon' type='image/x-icon' href='media/favicons/check.png')
    body 
        h1 My To-Do List
        h2 Add an item:
        #addItemForm.newItemForm
            label#newItemTitleLabel(for="newItemTitle") Name it: 
            input#newItemTitle(type='text' placeholder='Title...' required='') 
            br
            label#newItemDeadlineLabel(for="newItemDeadline") Deadline: 
            input#newItemDeadline(type='date' onfocus='disablePastDates()' required='')
            br
            button#newItemButton(onclick='submitItem()' type='submit') Add
        br
        button#sortByDeadlineButton(onclick='sortItems()' type='submit') Sort by Deadline
        button#sortByAddedButton(onclick='revertItems()' type='submit') Sort by Order Added
        #toDoListFlex.items
            #incompleteFlex
                button#overdueButton(onclick='overdueItems()' type='submit') Overdue only
                button#allItemsButton(onclick='sortItems()' type='submit') All Items
                each item in toDoList
                    if item["complete"] == 0
                        .incompleteItem
                            .incompleteItemTitle
                                | #{item["title"]} 
                            .incompleteItemDeadline
                                | #{item["deadline"].toString().slice(0,15)}
                            - var ID = item["ID"]
                            button.itemCheckoffButton(id = ID onclick='checkoffItem('+ID+')' type='submit' value=ID) ✔
                            button.itemDeleteButton(onclick='deleteItem('+ID+')' type='submit' value=ID) DELETE
                        br
            #completeFlex
                each item in toDoList
                        if item["complete"] == 1
                            .completedItem
                                .completedItemTitle
                                    | #{item["title"]} 
                                .completedItemDeadline
                                    | #{item["deadline"].toString().slice(0,15)}
                                em COMPLETE 
                                - var ID = item["ID"]
                                button.itemDeleteButton(id = ID onclick='deleteItem('+ID+')' type='submit' value=ID) DELETE
                            br             
script(src='../javascript/item.js')
link(rel='stylesheet' type='text/css' href='../css/main.css')
